<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iBlog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400i,500i,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/main.css">
</head>
<body>
    
    <nav class="navbar navbar-light navbar-expand-sm  bg-light py-0">
        <div class="container">
            <a class="navbar-brand" href="/blogs"><span>i</span>Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/blogs">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/blogs/new">Post</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if(!currentUser){ %>
                    <li class="nav-item"><a href="/register" class="nav-link">Sign up</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
               <% } else{ %>
                    <hr>
                    <li class="nav-item"><a href="#" class="nav-link"><%= currentUser.username %></a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                <% } %>
            </ul>
        </div>
        </div>
    </nav>