<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iBlog</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/main.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.min.css">
</head>
<body>
    <div class="sign-up-page header" id="particles-js">
        <div class="sub-header animated fadeIn slow">
            <span class="element"></span>
            <div class="card">
                <h1>Sign Up</h1>
                <div class="card-body">
                    <form action="/register" method="POST" class="custom-form">
                        <div class="form-group">
                            <input class="form-control" type="text" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-success btn-block">Sign Up</button>
                        </div>
                        <p class="divider-text"><span class="bg-light">OR</span></p>
                        <p class="text-and-btn">Already Have Account? <a class="btn btn-primary" href="/login">Login</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/particlesJs/particles.min.js"></script>
    <script src="/particlesJs/app.js"></script>
    <script src="/typedJs/typed.js"></script>
    <script src="/js/customTyped.js"></script>
</body>
</html>
